.legend {
  display: flex;
  align-items: center;
}

.square {
  height: 15px;
  width: 15px;
  transform: rotate(45deg);
  display: inline-block;
}

.title {
  display: inline-block;
  margin-left: 10px;
  font-size: smaller;
}
