main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.top-container {
  display: flex;
  flex-direction: row;
  padding-left: 30px;
  letter-spacing: 2px;
  font-family: "Roboto", sans-serif;
}

.bottom-container {
  font-family: "Roboto", sans-serif;
  padding: 30px;
  flex: 1;
}

.legend-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 20px;
}

.overview {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  padding: 30px 0 0 30px;
}

.progress-container {
  padding: 5px 0;
}
