.call-container {
  font-family: "Roboto", sans-serif;
  width: 50%;
  letter-spacing: 1px;
}

.call-row {
  display: flex;
  width: 100%;
}

.call-row p {
  margin: 10px 0;
}

.call-title {
  flex: 1;
  font-weight: bold;
}

.call-desc {
  flex: 1;
}
